<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="APMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <APMS.Properties.Settings>
            <setting name="数据库服务器" serializeAs="String">
                <value>::1</value>
            </setting>
            <setting name="数据库名称" serializeAs="String">
                <value>APMS</value>
            </setting>
            <setting name="数据库用户名" serializeAs="String">
                <value>APMS</value>
            </setting>
            <setting name="数据库密码" serializeAs="String">
                <value>YsN+yDCpZHBq1LKDL35cjw==</value>
            </setting>
            <setting name="IsFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Base1" serializeAs="String">
                <value>AUjLPIW1RDEEZ0Z8pzvdF9O7Ct6kvwNHcqaI6beuLzI=</value>
            </setting>
            <setting name="Base2" serializeAs="String">
                <value>5xZikafsq9uHgOn9EdULwg==</value>
            </setting>
            <setting name="使用Windows集成验证" serializeAs="String">
                <value>True</value>
            </setting>
        </APMS.Properties.Settings>
    </userSettings>
</configuration>
